/ExportAtendimentoImpl.java
/ExportFreguesImpl.java
/ExportFuncionarioImpl.java
/ExportServicoImpl.java
/GetMetadataImpl.java
/GravarFotoImpl.java
/HelloWorldImpl.java
/ImportAtendimentoImpl.java
/ImportFreguesImpl.java
/ImportFuncionarioImpl.java
/ImportServicoImpl.java
/ListAtendimentoImpl.java
/ListFreguesImpl.java
/ListFuncionarioImpl.java
/ListServicoImpl.java
/ObterUrlDownloadFotoImpl.java
/ObterUrlUploadFotoImpl.java
/TotalReceitasImpl.java
/CreateAtendimentoImpl.java
/CreateBulkAtendimentoImpl.java
/CreateBulkFreguesImpl.java
/CreateBulkFuncionarioImpl.java
/CreateBulkServicoImpl.java
/CreateFreguesImpl.java
/CreateFuncionarioImpl.java
/CreateMergeAtendimentoImpl.java
/CreateMergeFreguesImpl.java
/CreateMergeFuncionarioImpl.java
/CreateMergeServicoImpl.java
/CreateServicoImpl.java
/DeleteAtendimentoImpl.java
/DeleteFreguesImpl.java
/DeleteFuncionarioImpl.java
/DeleteServicoImpl.java
/GetDependenciesImpl.java
/RetrieveAtendimentoImpl.java
/RetrieveFreguesImpl.java
/RetrieveFuncionarioImpl.java
/RetrieveServicoImpl.java
/UpdateAtendimentoImpl.java
/UpdateFreguesImpl.java
/UpdateFuncionarioImpl.java
/UpdateMergeAtendimentoImpl.java
/UpdateMergeFreguesImpl.java
/UpdateMergeFuncionarioImpl.java
/UpdateMergeServicoImpl.java
/UpdateServicoImpl.java
