/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f7f8;
  margin: 0;
}

.ui-card-header {
  text-align: center;
}

.navBar {
  background-color: #273033;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  display: block;
  z-index: 99;
  position: relative;
}

.sideNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 260px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

@media (max-width: 991px) {
  .sideNav {
    left: -260px;
    transition: left .2s;
    z-index: 1;
  }

  body .layout-wrapper {
    margin-left: 0;
    transition: left .2s;
    z-index: 9999;
  }

  body .logo-img {
    text-align: center;
  }

  body .menu-button {
    display: inline-block;
  }
}

.navBar .ui-g{
  display: inherit;
}

.layout-mask {
  z-index: 9998;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  display: none;
  background-color: #4c5254;
  opacity: .7;
}

.menu-button {
  display: none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 28px;
  line-height: 67px;
  text-align: center;
  transition: background-color .2s;
}

// .menu-button :hover {
//   color: #009688;
// }

.layout-wrapper {
  margin-left: 260px;
  padding: 0 1rem 1rem;
}

.logo-img {
  text-align: left;
  padding-left: 2rem;
}

.logo-img-nav {
  width: 10rem;
  float: right;
}

.logo-img img {
  height: 3rem;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 4rem;
}

.nav li {
  display: block;
  padding: 0;
  border-bottom: #e3e9ea solid 1px;
}

.nav a {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  display: block;
  padding: 18px 35px;
  color: #757575;
  height: 3.5rem;
}

.nav a:hover {
  background-color: #cfd8dc;
  color: #757575;
}

.nav .active-link {
  color: #007ad9;
}

.nav .active-link:hover {
  color: #007ad9;
}

.nav i {
  font-size: 24px !important;
  float: left;
  margin-right: 15px;
  width: 30px;
  text-align: center;
}

.nav p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  right: -1px;
  top: 8px;
}


body .group-button button {
  margin-right: 1rem;
}

.group-button {
  text-align: right;
}

.ui-fluid .ui-dropdown {
  width: 100% !important;
}

p-dropdown {
  width: 100%;
}

.ui-fluid .ui-calendar {
  width: 100% !important;
}

p-calendar {
  width: 100%;
}

.ui-panel-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
}

.ui-card-header {
  border-bottom: #d6d4d4 solid 1px;
  background-color: #428bca;
  margin: auto;
  height: 2.4rem;
}

body .ui-helper-clearfix {
  zoom: 1;
}

.title-card-header{
  padding-top: 0.5rem;
}

.centralized {
  margin: auto;
}

.ui-inputgroup {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

label.required:after {
  content: " *";
  color: red;
}

.radio-align {
  display: flex;
  flex-wrap: nowrap;
  width: 60%
}

.outOfDate {
  color: #ca8913;
}

body .ui-breadcrumb {
  background-color: #f5f7f8 !important;
}

.ui-card .ui-card-body {
  padding: 0 2rem;
}

body .ui-button {
  margin: 0.5rem !important;
}

.ui-table .ui-widget .ui-table-responsive {
  text-align: center;
}

body .ui-table .ui-table-summary {
  background-color: white !important;
  border: 0 !important;
}

.ui-table {
  text-align: center;
}

.nav-open{
  left: 0;
}
