*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
#.project
.metadata
*bin
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
*.settings
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

RemoteSystemsTempFiles/.project
.idea/
*.log
*.zip
*.tar.gz
*~
.project
.recommenders
output/**
*.orig
*.iml
/pom.xml
/CHANGELOG.md
/CONTRIBUTING.md
/README.md
