/BasicErrorPayload.java
/BasicoConstants.java
/BasicoStub.java
/BlobReference.java
/CreateAtendimentoResponse.java
/CreateBulkAtendimentoInput.java
/CreateBulkAtendimentoOutput.java
/CreateBulkAtendimentoResponse.java
/CreateBulkFreguesInput.java
/CreateBulkFreguesOutput.java
/CreateBulkFreguesResponse.java
/CreateBulkFuncionarioInput.java
/CreateBulkFuncionarioOutput.java
/CreateBulkFuncionarioResponse.java
/CreateBulkServicoInput.java
/CreateBulkServicoOutput.java
/CreateBulkServicoResponse.java
/CreateFreguesResponse.java
/CreateFuncionarioResponse.java
/CreateMergeAtendimentoResponse.java
/CreateMergeFreguesResponse.java
/CreateMergeFuncionarioResponse.java
/CreateMergeServicoResponse.java
/CreateServicoResponse.java
/CredentialsProvider.java
/CredentialsProviderImpl.java
/Dependency.java
/EmailNotifyUserEventPayload.java
/ErrorStrategy.java
/ErrorType.java
/EventEmailFormat.java
/EventType.java
/ExportAtendimentoEvent.java
/ExportAtendimentoEventPayload.java
/ExportAtendimentoInput.java
/ExportAtendimentoOutput.java
/ExportAtendimentoResponse.java
/ExportConfig.java
/ExportEventStatus.java
/ExportFreguesEvent.java
/ExportFreguesEventPayload.java
/ExportFreguesInput.java
/ExportFreguesOutput.java
/ExportFreguesResponse.java
/ExportFuncionarioEvent.java
/ExportFuncionarioEventPayload.java
/ExportFuncionarioInput.java
/ExportFuncionarioOutput.java
/ExportFuncionarioResponse.java
/ExportServicoEvent.java
/ExportServicoEventPayload.java
/ExportServicoInput.java
/ExportServicoOutput.java
/ExportServicoResponse.java
/FieldType.java
/Fielddto.java
/FileFormat.java
/FotoOperationResult.java
/GetDependenciesOutput.java
/GetDependenciesResponse.java
/GetMetadataInput.java
/GetMetadataOutput.java
/GetMetadataResponse.java
/GravarFotoInput.java
/GravarFotoOutput.java
/GravarFotoResponse.java
/HelloWorldInput.java
/HelloWorldOutput.java
/HelloWorldResponse.java
/HookFunction.java
/Hookdto.java
/ImportAtendimentoEvent.java
/ImportAtendimentoEventPayload.java
/ImportAtendimentoInput.java
/ImportAtendimentoOutput.java
/ImportAtendimentoResponse.java
/ImportConfig.java
/ImportError.java
/ImportEventStatus.java
/ImportFreguesEvent.java
/ImportFreguesEventPayload.java
/ImportFreguesInput.java
/ImportFreguesOutput.java
/ImportFreguesResponse.java
/ImportFuncionarioEvent.java
/ImportFuncionarioEventPayload.java
/ImportFuncionarioInput.java
/ImportFuncionarioOutput.java
/ImportFuncionarioResponse.java
/ImportReport.java
/ImportServicoEvent.java
/ImportServicoEventPayload.java
/ImportServicoInput.java
/ImportServicoOutput.java
/ImportServicoResponse.java
/InstanceMessengerSupplier.java
/Layoutdto.java
/ListAtendimentoResponse.java
/ListFreguesResponse.java
/ListFuncionarioResponse.java
/ListServicoResponse.java
/NotifyUserEvent.java
/NotifyUserEventPayload.java
/ObterUrlDownloadFotoInput.java
/ObterUrlDownloadFotoOutput.java
/ObterUrlDownloadFotoResponse.java
/ObterUrlUploadFotoInput.java
/ObterUrlUploadFotoOutput.java
/ObterUrlUploadFotoResponse.java
/PushNotifyUserEventPayload.java
/RetrieveAtendimentoResponse.java
/RetrieveFreguesResponse.java
/RetrieveFuncionarioResponse.java
/RetrieveServicoResponse.java
/ServiceStarted.java
/ServiceStartedPayload.java
/Status.java
/TotalReceitasInput.java
/TotalReceitasOutput.java
/TotalReceitasResponse.java
/UpdateAtendimentoResponse.java
/UpdateFreguesResponse.java
/UpdateFuncionarioResponse.java
/UpdateMergeAtendimentoResponse.java
/UpdateMergeFreguesResponse.java
/UpdateMergeFuncionarioResponse.java
/UpdateMergeServicoResponse.java
/UpdateServicoResponse.java
/UserNotificationKind.java
/UserNotificationPriority.java
/package-info.java
/Atendimento.java
/BasicoException.java
/BasicoMessageException.java
/BasicoNormalizer.java
/BasicoStubImpl.java
/BasicoValidator.java
/Fregues.java
/Funcionario.java
/Servico.java
